<appSettings>
    <add key="ida:AppID" value="a57b7f5e-05e3-4da4-8da2-651b6f1da262" />
    <add key="ida:AppPassword" value="tmjpvYIFKHB144%+rpP32*)" />
    <add key="ida:RedirectUri" value="msala57b7f5e-05e3-4da4-8da2-651b6f1da262://auth" />
    <add key="ida:AppScopes" value="User.Read Mail.Read Mail.Send" />
</appSettings>